{% extends "base_generic.html" %}

{% block content %}
<h1>Crimson</h1>
  <p>Welcome. This site kinda shows my "knowledge" of Django.</p>

<h2>Site statistics</h2>

  <p>This displays some stats, using some code from another Django homepage</p>
    <ul>
	
	
		<li><strong>Total Authors:</strong> {{ num_authors }}</li>
        
		<li><strong>Total Articles:</strong> {{ num_articles }}</li>
        
    </ul>

<h3>NewContent</h3>

<p>Articles on the website.</p>
    {% if data %}
    <ul>
      {% for element in data %}
      <li>
        <a href="{{ element.1 }}">{{ element.0 }}</a>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>No articles</p>
    {% endif %}  
{% endblock %}
