<!-- code based off of djangogirls tutorial at https://tutorial.djangogirls.org/en/html/ -->
<html>
    <head>
        <title>E's Newspaper</title>
    </head>
    <body>
        <div>
            <h1><a href="">E's Newspaper</a></h1>
        </div>

        <div>
            <p>published: 12.05.2005, 12:14</p>
            <h2><a href="">Tech is GREAT</a></h2>
            <p>Tech is so wonderful. The people are great and the code is COOOOOOL.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Freshman Year</a></h2>
            <p>I arrived on this campus a few months and what a freshman year it has been! Can't believe it's almost over, how??</p>
        </div>
        <div>
            <p>published: 14.05.2014, 12:14</p>
            <h2><a href="">Frisbee</a></h2>
            <p>I am a big fan of frisbee. Didn't really know what to write about here, frisbee is what came to mind (per usual). There are flicks and backhands and hucks and wonderful community. Spirit of the game is the motto!</p>
        </div>
    </body>
</html>