<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
	</head>
	<body>
		<div>
            <h1><a href="/">Home Page</a></h1>    
        </div>
            {% for article in articles %}
            <div>
                <h2>{{article.title | safe}}</h2>
                <p>{{article.pub_date | safe}}</p>
                {% for author in article.contributors.all %}
                    <p>{{author.first_name | safe}} {{author.middle_name | safe}} {{author.last_name | safe}}</p>
                {% endfor %}
                <p>{{article.subtitle | safe}}</p>
            </div>
            {% endfor %}
        </div>
	</body>
</html>